.wrap{
    width: 100%;
}

.top-navbar{
    position: absolute;
    width: 100%;
}
.wrap-content{
    height: 100vh;
    display: flex;
}

.side-bar{
    background-color: #17B3F6;
    width: 219.63px;

}
.content{
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 5rem;
}

.menu .list-group-item{
    background-color: #17B3F6 !important;
    border: 0 !important;
}

.side-bar{
    background-color: #17B3F6;
    padding-top: 5rem;
    width: 219.63px;;
}